.header {
    position: relative;
    background: rgb(255, 255, 255);
    padding: 20px 40px;
    text-transform: uppercase;
    border-bottom: 1px solid #cccccc;
}
.nav-brand {
    flex: 0.25;
}
.nav-menu {
    flex: 0.75;
}
.menu {
    list-style: none;
    margin: 0;
    text-align: right;
}
.menu > li, i {
    display: inline-block;
    font-size: 14px;
    padding: 4px 12px;
    cursor: pointer;
}
.notification {
    position: absolute;
    color: #fff;
    background: red;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    border-radius: .25em;
}
.registrants {
    right: 254px;
    top: 10px;
}
.submissions {
    right: 136px;
    top: 10px;
}
.active {
    color: #4A90E2;
}
img {
    width: 26px;
    vertical-align: middle;
}