<div class="container header">
    <div class="nav-brand">
        <img src="../assets/logo-icon.png"/>
        &nbsp;CallTransparency
    </div>
    <div class="nav-menu">
        <ul class="menu">
            <div *ngIf="registrantCount > 0" class="notification registrants">{{this.registrantCount}}</div>
            <div *ngIf="submissionCount > 0" class="notification submissions">{{this.submissionCount}}</div>
            <li [routerLink]="['/registrants']" [ngClass]="{'active': registrants}">Registrants</li>
            <li [routerLink]="['/submissions']" [ngClass]="{'active': !registrants}">Submissions</li>
            <li (click)="logout()">Sign Out</li>
        </ul>
    </div>
</div>