<header></header>
<div class="container dashboard vh-center">
    <div class="list box-shadow">
        <list [loading]="loading" [list]="details" (populate)="onPopulate($event)"></list>
    </div>
    <div class="detail box-shadow">
        <detail [loading]="loading" [detail]="detail"></detail>
    </div>
</div>