<div class="container login">
    <div class="card fixed box-shadow">
        <div class="wrap">
            <div class="nav-brand">
                <img class="logo" src="../assets/logo-icon.png"/>
                &nbsp;Log In
            </div>
            <hr>
        </div>
        <div class="wrap">
            <label for="username">Username</label>
            <input [(ngModel)]="username"
                   [ngClass]="{'outline': requiredUsername}"
                   type="text"
                   name="username"
                   placeholder="Username"
                   autofocus required
            />
            <span class="error" *ngIf="requiredUsername">Username is required.</span>
        </div>
        <div class="wrap">
            <label for="password">Password</label>
            <input [(ngModel)]="password"
                   [ngClass]="{'outline': requiredPassword}"
                   type="password"
                   name="password"
                   placeholder="Password"
                   required
            />
            <span class="error" *ngIf="requiredPassword">Password is required.</span>
            <span class="error" *ngIf="errorMessage">{{this.errorMessage}}</span>
            <a [routerLink]="['/reset-password']" class="reset">Forgot your password?</a>
        </div>
        <button type="submit" (click)="login()" class="btn btn--login">Log In</button>
    </div>
</div>