.list-item {
    padding: 20px;
    border-bottom: 1px solid #f7f7f7;
    cursor: pointer;
    transition: .15s ease-in-out;
}
.list-item:hover {
    background: #4A90E2;
    color: #fff;
    transition: .15s ease-in-out;
}
.subtitle {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}