<div *ngIf="!list && loading">
    <img class="loading" src="../assets/loading.gif"/>
</div>
<ul *ngFor="let item of list; let i = index" (click)="emitDetail(item, i)">
    <li *ngIf="registrants" id={i}
        [ngClass]="('list-item' + ' ' + (selected === i ? 'selected' : ''))"
        (click)="setActive(i)">{{item.contactName}}
        <p class="subtitle">{{item.email}}</p>
    </li>
    <li *ngIf="!registrants" id={i}
        [ngClass]="('list-item' + ' ' + (selected === i ? 'selected' : ''))"
        (click)="setActive(i)">{{item.companyName}}<br>
        <p class="subtitle" [title]="item.submissionId">{{item.submissionId}}</p>
    </li>
</ul>