<div class="radio">
    <span>Do you want to verify this submission?</span>
    <label for="verify">
        <input #true
               name="verify"
               value="1"
               type="radio"
               [(ngModel)]="radio"
               (ngModelChange)="updateRadio($event)" />
        Yes
    </label>
    <label for="verify">
        <input #false
               name="verify"
               value="2"
               type="radio"
               [(ngModel)]="radio"
               (ngModelChange)="updateRadio($event)"
               [checked]="true" />
        No
    </label>
</div>
<div class="textarea">
    <label for="comments">Comments:</label>
    <textarea name="comments"
              rows="6"
              cols="44"
              [ngModel]="comments"
              (ngModelChange)="updateTextarea($event)"
              placeholder="Add Additional Comments Here"></textarea>
</div>
<div class="submit">
    <button
            [disabled]="success"
            [ngClass]="{'success': success}"
            (click)="verify()"
            class="btn btn--verify">
            <i class="ion-ios-checkmark-outline" *ngIf="success">&nbsp;</i>
            {{this.verifyText}}
    </button>
</div>