.radio {
    padding: 10px 0;
}
.radio label {
    display: inline-block;
}
.radio span {
    float: left;
}
.textarea > label {
    font-weight: 600;
    color: #000;
}
span {
    font-weight: 600;
    color: #000;
}
input[type=radio] {
    margin-left: 20px;
}
.success {
    background: #7ED321;
    color: rgb(255, 255, 255);
    cursor: not-allowed;
    transition: .25s all;
}
.btn--verify {
    font-size: 14px;
    padding: 10px 0;
    margin: 6px 0;
    width: 160px;
    float: right;
}