span {
    font-weight: 600;
    color: #000;
}
h3 {
    font-weight: 400;
}
.no-verifications {
    padding: 100px;
    text-align: center;
}
i {
    font-size: 48px;
    color: rgb(74, 144, 226);
    padding-bottom: 20px;
}