<div class="wrap">
    <div class="no-verifications" *ngIf="!detail && !loading">
        <i class="ion-happy-outline"></i>
        <p>It looks like there are currently no {{this.getLabel()}}s to verify</p>
    </div>
    <div *ngIf="!detail && loading">
        <img class="loading" src="../assets/loading.gif"/>
    </div>
    <div *ngIf="registrants && detail">
        <h3><span>New Registrant:</span> {{this.detail.firstName}} {{this.detail.lastName}}</h3>
        <ul>
            <li><span>Registered Date:</span> {{this.formatDateTime(this.detail.createdDateTime)}}</li>
            <li><span>Registrant ID:</span> {{this.detail.registrantId}}</li>
            <li><span>Company Name:</span> {{this.detail.contactName}}</li>
            <li><span>Company Website:</span> {{this.detail.contactWebsite}}</li>
            <li><span>Company Type:</span> {{this.getBusinessSize(this.detail.contactBusinessSize)}}</li>
            <li><span>Email:</span> {{this.detail.email}}</li>
            <li><span>Phone Number:</span> {{this.detail.contactPhoneNumber}}</li>
            <li><span>Address:</span>{{this.detail.address}}</li>
            <li><span>Industry:</span> {{this.detail.contactIndustry}}</li>
        </ul>
        <verify [selected]="detail" [registrants]="registrants"></verify>
    </div>
    <div *ngIf="!registrants && detail">
        <h3><span>New Submission:</span> {{this.detail.companyName}}</h3>
        <ul>
            <li><span>Submission Date:</span> {{this.formatDateTime(this.detail.createdDateTime)}}</li>
            <li><span>Submission ID:</span> {{this.detail.submissionId}}</li>
            <li><span>Submitted Numbers:</span> {{this.detail.submittedNumbers.toLocaleString('en-us')}}</li>
            <li><span>Company Name:</span> {{this.detail.companyName}}</li>
            <li><span>Contact Name:</span> {{this.detail.firstName}} {{this.detail.lastName}}</li>
            <li><span>Website:</span> {{this.detail.website}}</li>
            <li><span>Industry:</span> {{this.detail.companyIndustry}}</li>
            <li><span>Email:</span> {{this.detail.companyEmail}}</li>
        </ul>
        <verify [selected]="detail" [registrants]="registrants"></verify>
    </div>
</div>