<div class="container login">
    <div class="card fixed box-shadow">
        <div class="wrap">
            <div class="nav-brand">
                <img class="logo" src="../assets/logo-icon.png"/>
                &nbsp;Reset Password
            </div>
            <hr>
        </div>
        <div *ngIf="!codeSent" class="reset-password">
            <div class="wrap">
                <p>{{this.userMessage}}</p>
                <br>
                <label for="username">Email</label>
                <input [(ngModel)]="username"
                       [ngClass]="{'outline': requiredUsername}"
                       type="text"
                       name="username"
                       placeholder="Username"
                       autofocus required
                />
                <span class="error" *ngIf="requiredUsername">Email is required.</span>
                <span class="error" *ngIf="errorMessage">{{this.errorMessage}}</span>
            </div>
            <button type="submit" (click)="forgotPassword()" class="btn btn--login">Submit</button>
        </div>
        <div *ngIf="codeSent && !passwordReset" class="code-sent">
            <div class="wrap">
                <p>{{this.userMessage}}</p>
                <br>
                <label for="username">New Password</label>
                <input [(ngModel)]="newPassword"
                       (ngModelChange)="checkPasswordStrength($event)"
                       [ngClass]="{'outline': requiredNewPassword}"
                       type="text"
                       name="newPassword"
                       placeholder="Enter New Password"
                       autofocus required
                />
                <span class="error" *ngIf="requiredNewPassword">New password is required.</span>
                <span class="error" *ngIf="passwordWeak">Password must contain one uppercase, one lowercase, one number and one special character.</span>
            </div>
            <div class="wrap">
                <label for="newPassword">Verification Code</label>
                <input [(ngModel)]="code"
                       [ngClass]="{'outline': requiredCode}"
                       type="text"
                       name="code"
                       placeholder="Enter Code"
                       autofocus required
                />
                <span class="error" *ngIf="requiredCode">Verification code is required</span>
                <span class="error" *ngIf="errorMessage">{{this.errorMessage}}</span>
            </div>
            <button type="submit" (click)="confirmNewPassword()" class="btn btn--login">Set Password</button>
        </div>
        <div *ngIf="codeSent && passwordReset" class="password-success">
            <div class="wrap">
                <i class="ion-happy-outline"></i>
                <p>{{this.userMessage}}</p>
            </div>
        </div>
    </div>
</div>