<div class="container login">
    <div class="card fixed box-shadow">
        <div class="wrap">
            <div class="nav-brand">
                <img class="logo" src="../assets/logo-icon.png"/>
                Set New Password
            </div>
            <hr>
        </div>
        <div class="wrap">
            <label for="password">Current Password</label>
            <input [(ngModel)]="existingPassword"
                   (ngModelChange)="checkEmpty($event)"
                   [ngClass]="{'outline': requiredPassword}"
                   type="password"
                   name="username"
                   placeholder="Current Password"
                   autofocus required
            />
            <span class="error" *ngIf="requiredPassword">Current password is required.</span>
        </div>
        <div class="wrap">
            <label for="newPassword">New Password</label>
            <input [(ngModel)]="password"
                   (ngModelChange)="checkPasswordStrength($event)"
                   [ngClass]="{'outline': requiredNewPassword || passwordWeak}"
                   (dirty)="false"
                   type="password"
                   name="newPassword"
                   placeholder="New Password"
                   required
            />
            <span class="error" *ngIf="requiredNewPassword">Password is required.</span>
            <span class="error" *ngIf="passwordWeak">Password must contain one uppercase, one lowercase, one number and one special character.</span>
        </div>
        <div class="wrap">
            <label for="passwordConfirmed">Confirm New Password</label>
            <input [(ngModel)]="confirmPassword"
                   (ngModelChange)="checkPasswordMatch($event)"
                   [ngClass]="{'outline': requiredConfirmPassword || passwordMismatch}"
                   (dirty)="false"
                   type="password"
                   name="confirmPassword"
                   placeholder="Confirm New Password"
                   required
            />
            <span class="error" *ngIf="passwordMismatch">Passwords must match.</span>
            <span class="error" *ngIf="requiredConfirmPassword">Confirm new password is required.</span>
            <span class="error" *ngIf="errorMessage">{{this.errorMessage}}</span>
            <span class="success" *ngIf="userMessage">{{this.userMessage}}</span>
        </div>
        <button type="submit"
                [ngClass]="{'disabled': isInvalid()}"
                (click)="setPassword()"
                class="btn btn--login">Submit
        </button>
    </div>
</div>