/* Global Styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

/* For positioning */
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    color: rgb(85, 85, 85);
}
.container {
    display: flex;
}
.wrap {
    padding: 30px;
}

/* Helper Classes */
.space-around {
    justify-content: space-around;
}
.h-center {
    justify-content: center;
}
.vh-center {
    align-items: center;
    justify-content: center;
}
.fixed {
    flex: none;
    max-width: 75%;
}
.disabled {
    opacity: .8;
    cursor: not-allowed;
}
.text-center {
    text-align: center;
}
/* Login/Verify Password */
.logo {
    width: 26px;
    vertical-align: middle;
}
.nav-brand {

}

/* Input Styles */
label {
    display: block;
    padding-bottom: 4px;
}
input {
    box-sizing: border-box;
}
input[type=text], input[type=password] {
    width: 100%;
    color: #333;
    font-size: 14px;
    padding: 12px 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    transition: .25s all;
}
textarea {
    min-width: 458px;
    padding: 6px;
}
input:focus {
    outline: 0;
}
/* Button Styles */
.btn {
    width: 100%;
    background: rgb(74, 144, 226);
    color: #fff;
    cursor: pointer;
    transition: .25s ease-in-out;
}
.btn:hover {
    background: rgb(66, 129, 203);
    transition: .25s ease-in-out;
}

/* Typography */
hr {
    margin: 12px 0 0 0;
}
h3 {
    margin: 20px 0;
}
h4 {
    margin: 20px 0;
}
a {
    color: rgb(17, 97, 238);
    text-decoration: none;
    transition: .25s ease-in-out;
}
a:hover {
    color: rgb(13, 77, 190);
    text-decoration: underline;
}

/* Error handling/alerts */

.error {
    display: block;
    color: red;
    font-size: 12px;
    padding-top: 4px;
}
.success {
    display: block;
    color: green;
    font-size: 12px;
    padding-top: 4px;
}
.outline {
    border: 1px solid red !important;
    transition: .25s all;
}

/* Box shadows */
.box-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.10);
}

/* Global styling for our Registrants/Submissions containers */
.selected {
    background: #4A90E2;
    color: #fff;
}
.dashboard {
    flex: .75;
    height: 100vH;
    background: rgb(240, 240, 240);
    margin-top: -68px;
}
.list {
    flex: .2;
    min-height: 500px;
    max-height: 500px;
    max-width: 256px;
    background: rgb(255, 255, 255);
    overflow: scroll;
}
.detail {
    flex: .4;
    min-height: 500px;
    max-height: 500px;
    max-width: 512px;
    background: rgb(255, 255, 255);
    overflow: scroll;
}
.loading {
    width: 20px;
    padding: 20px 10px;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
p {
    padding: 0;
    margin: 0;
}

/* Shared code between LoginComponent and SetPasswordComponent */

.login {
    height: auto;
    min-height: 100vH;
    align-items: center;
    justify-content: center;
    background:rgb(247, 247, 247);
}
.wrap {
    padding: 0 20px 16px 20px;
}
.card {
    width: 350px;
    background: #fff;
    border-radius: 2px;
}
.reset {
    font-size: 12px;
    line-height: 3;
}
.btn--login {
    font-size: 14px;
    border: none;
    padding: 16px 10px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
input {
    box-sizing: border-box;
}